<% @parent = {"/talents" => "タレント一覧", "/talents/" + @talent.id.to_s => @talent.name, "/jobs/" + @talent.id.to_s => "実績カテゴリ一覧"} %>
<% @mypage = "実績管理" %>

<p id="notice"><%= notice %></p>

    <h2><%= @mypage %></h2>

    <div class="result_inner">
    <form method="post">
        <h3 class="talent_name">青柳 ミエ</h3>

        <div id="">

        <section class="block">
            <p class="sub_ttl">吹き替え</p>

            <table width="0" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th nowrap scope="col">順番</th>
                    <th scope="col">作品名</th>
                    <th scope="col">役名</th>
                    <th nowrap scope="col">太字</th>
                    <th nowrap scope="col">サブタイトル</th>
                    <th nowrap scope="col">表示</th>
                    <th nowrap scope="col">削除</th>
                </tr>

                <tr>
                    <td><input name="sort[4774]" type="text" size="3" value="10" class="number"></td>
                    <td><input name="title[4774]" type="text" size="40" value="スピード"></td>
                    <td><input name="cast[4774]" type="text" size="25" value=" "></td>
                    <td><input type="checkbox" name="bold_flg[4774]" id="checkbox" value="1" ></td>
                    <td><input type="checkbox" name="subtitle_flg[4774]" id="checkbox" value="1" ></td>
                    <td><input type="checkbox" name="display_flg[4774]" id="checkbox" value="1" checked></td>
                    <td><input type="checkbox" name="delete[4774]" id="checkbox" value="1"></td>
                </tr>


                <tr>
                    <td><input name="sort[-1]" type="text" size="3" value="120" class="number"></td>
                    <td><input name="title[-1]" type="text" size="40" value=""></td>
                    <td><input name="cast[-1]" type="text" size="25" value=""></td>
                    <td><input type="checkbox" name="bold_flg[-1]" id="checkbox" value="1"></td>
                    <td><input type="checkbox" name="subtitle_flg[-1]" id="checkbox" value="1"></td>
                    <td><input type="checkbox" name="display_flg[-1]" id="checkbox" value="1" checked></td>
                    <td><input type="checkbox" name="delete[-1]" id="checkbox" disabled="disabled"></td>
                </tr>
            </table>
        </section>

        </div><!--/#sortable-->

        <p class="btn_add"><input type="image" name="save" src="/admin/img/btn_reg.png" alt="登録"></p>

    </form>
    </div><!--/job_inner-->
