    <p class="crumb">
<% if session[:admin_id].nil? %>
      <a href="/admin/sites/login">[ログイン]</a>　
<% else %>
      <a href="/admin/sites/logout"><%= session[:admin_name] %> [ログアウト]</a>　
<% end %>
      <a href="/admin/">管理画面TOP</a>
<% if !@parent.nil? %>
  <% @parent.each do |href, page| %>
> <a href="/admin<%= href %>"><%= page %></a>
  <% end %>
<% end %>

<% if !@mypage.nil? %>
> <%= @mypage %>
<% end %>
    </p>
